build==1.2.1
click==8.1.7
colorama==0.4.6
fastapi==0.111.0
packaging==24.1
passlib==1.7.4
pip-tools==7.4.1
pydantic==2.8.2
pyproject_hooks==1.1.0
python-dotenv==1.0.1
requests==2.32.3
SQLAlchemy==2.0.31
uvicorn==0.30.1
